<html>
<head>
    <title>Trash Organization</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
    <!-- Satori Library -->
    <script src="https://satori-a.akamaihd.net/satori-rtm-sdk/v1.1.1/sdk.min.js"></script>
    
    <style>
      .high {
        background: red;
      }
      .medium {
        background: gray;
      }
    </style>
</head>
<body ng-app="TrashOrganization" layout="column" ng-controller="TrashOrganizationCtrl as TrashOrganizationCtrl">

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Incident">
    <md-content class="md-padding">
        <md-list>
          <md-list-item ng-repeat="trash in trashIncidents" class="{{ trash.type }} {{ trash.severity }} {{ trash.volume }}">
            <md-icon class="md-avatar">delete</md-icon>
            <div flex><b>Time:</b> {{ trash.timestamp | date : 'mediumTime' }}</div>            
            <div flex><b>Severity:</b> {{ trash.severity }}</div>
            <div flex><b>Volume:</b> {{ trash.volume }}</div>
            <div><a href="https://www.google.com/maps/dir//{{trash.lat}},{{trash.lon}}/@{{trash.lat}},{{trash.lon}}">See on Map</a></div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
    <md-tab label="Trash Cans">
      <md-content class="md-padding">
        <md-list>
          <md-list-item ng-repeat="trash in trashCans">
            <md-icon class="md-avatar">delete</md-icon>
            <div flex><b>Time:</b> {{ trash.timestamp | date : 'mediumTime' }}</div>                        
            <div flex><b>Severity:</b> {{ trash.severity }}</div>
            <div flex><b>Volume:</b> {{ trash.volume }}</div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
  </md-tabs>
  <script src="organization.js"></script>
</body>
</html>
